<footer class="inner-box">
  <div class="wrapper">
    <div class="contacts">
      <a href="https://github.com/Granze">&#xe001;</a>
      <a href="http://www.linkedin.com/in/granze">&#xe004;</a>
      <a href="http://vimeo.com/granze">&#xe000;</a>
      <a href="https://twitter.com/#!/granze">&#xe005;</a>
      <a href="http://last.fm/user/granzebru">&#xe003;</a>
      <a href="https://plus.google.com/u/0/104973120103840514441">&#xe006;</a>
      <a href="https://www.facebook.com/granze">&#xe002;</a>
    </div>
    <p class="credits">Granze.net is powered by: <a href="http://nodejs.org/">Node.js</a> and <a href="http://expressjs.com/">Express</a></p>
  </div>
</footer>
</body>
</html>
<!--
     GRANZE V2 - NODE/EXPRESS VERSION

                 uuuuuuu
             uu$$$$$$$$$$$uu
          uu$$$$$$$$$$$$$$$$$uu
         u$$$$$$$$$$$$$$$$$$$$$u
        u$$$$$$$$$$$$$$$$$$$$$$$u
       u$$$$$$$$$$$$$$$$$$$$$$$$$u
       u$$$$$$$$$$$$$$$$$$$$$$$$$u
       u$$$$$$"   "$$$"   "$$$$$$u
       "$$$$"      u$u       $$$$"
        $$$u       u$u       u$$$
        $$$u      u$$$u      u$$$
         "$$$$uu$$$   $$$uu$$$$"
          "$$$$$$$"   "$$$$$$$"
            u$$$$$$$u$$$$$$$u
             u$"$"$"$"$"$"$u
  uuu        $$u$ $ $ $ $u$$       uuu
 u$$$$        $$$$$u$u$u$$$       u$$$$
  $$$$$uu      "$$$$$$$$$"     uu$$$$$$
u$$$$$$$$$$$uu    """""    uuuu$$$$$$$$$$
$$$$"""$$$$$$$$$$uuu   uu$$$$$$$$$"""$$$"
 """      ""$$$$$$$$$$$uu ""$"""
           uuuu ""$$$$$$$$$$uuu
  u$$$uuu$$$$$$$$$uu ""$$$$$$$$$$$uuu$$$
  $$$$$$$$$$""""           ""$$$$$$$$$$$"
   "$$$$$"                      ""$$$$""
     $$$"                         $$$$"

-->