@import "normalize",
        "compass/css3",
        "pure",
        "pure-granze";

//vars
$mainBg: #565656;
$mainColor: #c0c0c0;
$linkColor: #ebebeb;
$altColor: #70bc52;
$darkColor: rgba(#333, .1);

@include font-face("entypo social", font-files("entypo-social.woff", "entypo-social.ttf", "entypo-social.svg"), "entypo-social.eot");

::selection {
  color: #fff;
  background-color: $altColor;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: $mainColor;
  border-bottom: 4px solid $altColor;
  background-color: $mainBg;
  overflow-y: scroll;
}
h1 {
  margin: 0;
  padding: 0;
  font: {
    family: Georgia, Palatino, serif;
    size: 4em;
  }
  color: rgba(#fff, .8);
  @include text-shadow(-1px -1px 1px rgba($mainBg, .4));
  span {
    display: block;
    font-size: .4em;
  }
}
h2, h3, h4, h5 {
  font-family: 'Bevan', cursive;
  font-weight: normal;
  color: lighten($mainBg, 15);
  @include text-shadow(-1px -1px 1px darken($mainBg, 10));
}
h2 {
  font-size: 2em;
  letter-spacing: .1em;
}
a {
  color: $linkColor;
  &:hover {
    color: $altColor;
  }
}
.wrapper {
  margin: auto;
  max-width: 1224px;
  @media screen and(max-width: 1024px) {
    max-width: 960px;
  }
}
#main-header {
  margin: 20px 0;
  padding: 0 20px;
  border-top: 2px solid darken($altColor, 10);
  border-bottom: 2px solid darken($altColor, 10);
  background-color: $altColor;
}
.inner-box {
  padding: 1em;
}
#main {
}
.intro {
  margin: 0 1px;
  font-size: 1.6em;
  font-style: italic;
  font-family: Georgia, Palatino, serif;
  color: lighten($mainColor, 10);
  text-align: center;
  @include text-shadow(1px 1px 1px darken($mainBg, 15));
}
.feed {
  padding: 0;
  list-style: none;
  li {
    margin: 4px 0;
    padding: 8px;
    border-bottom: 1px solid darken($darkColor, 5);
    background-color: $darkColor;
    &:hover {
      @include transition(background-color .3s ease-out);
      background-color: darken($darkColor, 20);
    }
  }
}
.btn-twitter {
  text-align: right;
  iframe {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}
.date, .crag {
  color: darken($mainColor, 25);
}
.grade {
  color: $linkColor;
}
.code {
  font-size: 1.5em;
  font-family: Courier, cursive;
  @include text-shadow(none);
}
footer {
  border-top: 1px solid darken($mainBg, 6);
  background-color: darken($mainBg, 3);
}
.contacts {
  font-family: "entypo social";
  a {
    margin-right: 10px;
    font-size: 4em;
    text-decoration: none;
    &:hover {
      @include perspective(800px);
      @include perspective-origin(50% 100px);
      @include single-transition(all 2s ease-in-out);
      @include rotateY(180deg);
    }
  }
}
.credits {
  text-align: right;
  font-size: .8em;
}