//vars
$mainBg: #565656;
$mainColor: #c0c0c0;
$linkColor: #ebebeb;
$altColor: #70bc52;
$darkColor: rgba(#333, .1);

//fonts
$fontSans: Arial, Helvetica, sans-serif;
$fontSlab: 'Bevan', cursive;

//sizes
$titleHeight: 41px;

@font-face {
  font-family: 'social';
  src: url('../fonts/social.eot');
  src: url('../fonts/social.eot?#iefix') format('embedded-opentype'),
  url('../fonts/social.woff') format('woff'),
  url('../fonts/social.ttf')  format('truetype'),
  url('../fonts/social.svg#svgFontName') format('svg');
}

::selection {
  color: white;
  background-color: $altColor;
}
body {
  overflow-y: scroll;
  margin: 0;
  font-family: $fontSans;
  color: $mainColor;
  border-bottom: 4px solid $altColor;
  background-color: $mainBg;
}
img {
  max-width: 100%;
}
h1 {
  margin: 0;
  padding: 0;
  font: {
    family: Georgia, Palatino, serif;
    size: 1em;
  };
  color: $mainBg;
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    font-size: .6em;
  }
  a {
    font-size: 4em;
    text-decoration: none;
    transition: all .4s ease-out;
    &:hover {
      color: lighten($linkColor, 10%);
    }
  }
  span {
    display: block;
    font-size: .4em;
  }
}
h2 {
  font-size: 2em;
  font-family: $fontSlab;
  &.internal {
    margin: 0;
  }
}
h3 {
  margin: 0;
  font-size: 1.5em;
}
header.hgroup {
  position: relative;
  overflow: hidden;
  height: $titleHeight;
  margin: .9em 0;
  &:hover {
    h2 {
      transform: translateY(-40px);
    }
    h3 {
      transform: translateY(-40px);
    }
  }
  h2 {
    height: $titleHeight;
    margin: 0;
    letter-spacing: .1em;
    transform: translateY(0);
    transition: all 0.2s ease-out;
  }
  h3 {
    height: $titleHeight - 2px;
    line-height: $titleHeight - 1px;
    padding: 0 10px;
    font-size: 1.2em;
    color: $altColor;
    border-bottom: 1px solid $altColor;
    background-color: $darkColor;
    transform: translateY(40px);
    transition: all 0.2s ease-out;
    i {
      display: inline-block;
    }
  }
}
h2, h3, h4, h5 {
  font-weight: normal;
  color: lighten($mainBg, 15);
  text-shadow: -1px -1px 1px darken($mainBg, 10);
}
a {
  color: $linkColor;
  &:hover {
    color: $altColor;
  }
  &.more {
    position: absolute;
    right: 10px;
    top: 0;
  }
}
.wrapper {
  position: relative;
  margin: auto;
  max-width: 1224px;
  @media screen and (max-width: 1024px) {
    max-width: 960px;
  }
}
#main-header {
  position: relative;
  margin: 20px 0;
  padding: 0 20px;
  background-color: $altColor;
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    margin-top: 0;
  }
}
#about {
  z-index: 10;
  position: absolute;
  top: -20px;
  right: 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0 0 4px 4px;
  background-color: darken($mainBg, 10%);
  transition: all .2s ease-out;
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    top: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: none;
    &:hover {
      padding-top: 8px;
    }
  }
  &:hover {
    padding-top: 20px;
    transition: all .2s ease-out;
  }
}
.inner-box {
  padding: 1em;
}

.intro {
  margin: -20px 0 0 0;
  padding: 20px 0;
  font-size: 1.6em;
  font-style: italic;
  font-family: Georgia, Palatino, serif;
  color: lighten($mainColor, 10);
  text-align: center;
  border-bottom: 1px solid darken($darkColor, 6);
  background-color: $darkColor;
  text-shadow: 1px 1px 1px darken($mainBg, 15);
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    display: none;
  }
}
.feed {
  padding: 0;
  list-style: none;
  li {
    margin: 4px 0;
    padding: 8px;
    border-bottom: 1px solid darken($darkColor, 5);
    background-color: $darkColor;
    transition: all .4s ease-out;
    &:hover {
      background-color: darken($darkColor, 20);
      transform: scale(1.05);
      transition: all .2s ease-out;
      + li {
        transform: scale(1.02);
        transition: all .2s ease-out;
      }
    }
  }
}
.btn-twitter {
  position: absolute;
  right: 10px;
  top: 5px;
  iframe {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

.date, .crag {
  color: darken($mainColor, 25);
}
.grade {
  color: $linkColor;
}

.code {
  font-size: 1.5em;
  font-family: Courier, cursive;
  text-shadow: none;
}

footer {
  margin-top: 40px;
  padding: 20px 0 10px 0;
  border-top: 1px solid darken($darkColor, 6);
  background-color: $darkColor;
}
.contacts {
  text-align: center;
  font-family: "social";
  color: $mainColor;
  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 2em;
    text-decoration: none;
    transition: all .8s ease-out;
    &:hover {
      transform: rotate(360deg);
      transition: all .4s ease-out;
    }
  }
}
.credits {
  text-align: center;
  font-size: .8em;
}
.imgs {
  display: block;
  margin: 0 auto 20px auto;
}
