{{> header}}
<div class="wrapper">
  <div class="inner-box">
    <h2 class="internal">About me</h2>
  </div>
  <section id="main" class="pure-g-r">
    <div class="pure-u-1-2">
      <div class="inner-box">
        <h3>head</h3>

        <p>I've always been fascinated by computers, my very first love was a Commodore 64. I wasn't really a Basic
          programming language badass but, who cares, I had a lot of fun with it.</p>

        <p>In 2000 I started working as web designer for a small web agency in Merano (the town in north Italy where I
          was born). I quickly realized this was the job I wanted to do but, in a city like mine, it would not be easy.
          For this reason, the following year, I decided to move to Milan.</p>

        <p>I'm specialized in cutting-edge, standard compliant web interfaces developing, with wide experience in high
          traffic website optimization. My technical skills include XHTML, CSS and Javascript developing. I have skills
          in team leading and problem solving activities as well.</p>

        <p>The experience gained over the last 10 years, allowed me to work and to coordinate teams for clients such
          Corriere della Sera, Gazzetta dello Sport, Unicredit, Tradinglab, Lavazza, Donna Moderna (Mondadori), RAS and
          others.</p>

        <p>If you want to learn more about my professional profile, please visit my <a
            href="http://www.linkedin.com/in/granze">Linkedin page</a></p>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="inner-box">

        <h3>body</h3>

        <p>I started climbing in September 2007: love at first sight!</p>

        <p>The bad thing is that I started at the age of 32 (sigh!), the good thing is that climbing changed my life.
          This can maybe sound as an exaggeration, but is real! Climbing changed my habits, my friendships and the way I
          spend my time during the week.</p>

        <p>Climbing is really important for me and I'm putting a lot of effort in it, trying to push the limits to see
          what can I achieve.<br/>For now, my best performances are 8a on sport routes and 7b+ on boulders. Not really
          big numbers but well, is not so bad at all and I know I will do more.</p>
      </div>
    </div>
  </section>
 </div>
{{> footer}}