{{> header}}
<p class="intro">My name is Maurizio Mangione, I'm working as a software engineer at Jobrapido.</p>
<section id="main" class="grid grid-pad">
  <div class="col-1-2">
    <h2 class="internal">About me</h2>
    <h3>head</h3>

    <p>I've always been fascinated by computers: my very first love was a Commodore 64. I wasn't really a Basic
      programmer badass but, who cares, I had a lot of fun with it.</p>

    <p>In 2000 I started working as a web designer for a small web agency in Merano (the town in Northern Italy where I
      was born). I quickly realized this was the job I wanted to do but, in a city like mine, it would not be easy.
      For this reason, the following year, I decided to move to Milan. <br>Honestly, it was not easy even in Milan, especially in the early years.</p>

    <p>After a couple of years, the web began to change a lot. Those where the years when tableless layouts came out and in which most people wasn't able to
      understand why using CSS for the presentation was way better that using markup.
      <br>The turning point for me was the enlightening <a
        href="http://en.wikipedia.org/wiki/Designing_with_Web_Standards">Designing with web Standards</a> by Jeffrey Zeldman. <br>Reading this book
      made me passionate about writing (clean) code, so I decided to quit the "graphic" part of my job and to dedicate all my efforts to the code.</p>

    <p>I'm specialized in cutting-edge, standard compliant website developing, for both desktop and mobile with wide experience in high
      traffic optimization. My technical skills include XHTML, CSS and Javascript developing. I have experience
      in team leading and problem solving activities as well.</p>

    <p>Not only am I passionate about writing code, but also in getting the things done smoothly, taking advantage of the fantastic tools we have today
      .<br>Do Grunt, Bower and Yeoman sound familiar to you?</p>

    <p>The experience gained over the last 12 years allowed me to work and to coordinate teams for clients such as
      Corriere della Sera, Gazzetta dello Sport, Unicredit, Tradinglab, Lavazza, Donna Moderna (Mondadori), RAS and
      others.</p>

    <p>If you want to learn more about my professional profile, please visit my <a
        href="http://www.linkedin.com/in/granze">Linkedin page</a></p>
    <h3>body</h3>

    <p>When I'm not writing code, I dedicate my time to my other great passion: rock climbing.<br> I started climbing in September 2007: love at first sight!</p>

    <p>The bad thing is that I started at the age of 32 (sigh!), the good thing is that climbing changed my life.
      This may seem like an overstatement, but it's real! Climbing changed my habits, my friendships and the way I
      spend my time during the week.</p>

    <p>Climbing is really important to me and I'm putting a lot of effort in it, trying to push the limits to see
      what can I achieve.<br/>So far, my best performances are 8a on sport routes and 7b+ on boulders. Not really
      big numbers but well, is not so bad at all and I know I will do more.</p>
  </div>
  <div class="col-1-2">
    <div class="frame">
      <img src="/img/granze.jpg" alt="Granze - Maurizio Mangione"/>
    </div>
  </div>
</section>
{{> footer}}
